#about {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 50px;
  background: url('images/textur_about.jpg');

  @media (min-width: 970px) {
    padding-top: 70px;
    padding-bottom: 90px;
  }

  .shape {
    margin-bottom: 35px;

    @media (min-width: 750px) {
      margin-bottom: 60px;
    }
  }

  h3 {
    color: #baa662;
    font-size: 18px;
    padding-bottom: 10px;
  }

  h2 {
    color: #baa662;
    font-size: 30px;
    padding-bottom: 10px;
    text-transform: uppercase;
  }

  p {
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    font-size: 15px;
    width: 100%;
    margin: auto;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
    box-sizing: border-box;
    line-height: 22pt;

    @media (min-width: 750px) {
      width: 585px;
      padding-left: 0;
      padding-right: 0;
      font-size: 17px;
    }

    &.bold {
      font-weight: 700;
    }
  }

  .video_link {
    background: #fff;
    border-radius: 10px;
    display: block;
    margin: auto;
    margin-top: 40px;
    width: 220px;
    color: #333;
    font-family: 'Open Sans', sans-serif;
    border-bottom: 1px solid;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
    font-weight: 700;
    padding-top: 10px;
    padding-bottom: 9px;
  }
}
