#main {
  position: relative;

  picture {
    position: relative;
    width: 100%;

    img {
      vertical-align: text-bottom;
      width: 100%;
    }
  }

  .bottom_link {
    position: absolute;
    bottom: 100px;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
    width: 100%;
    text-transform: uppercase;
    text-align: center;
    line-height: 40pt;

    @media (max-width: 750px) {
      bottom: 50px;
      font-size: 40px;
    }

    @media (min-width: 970px) {
      font-size: 49px;
    }
  }
}
